name: ci
on:
  push:
    tags:        
    - 'v*'

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:

      - id: extract_branch
        shell: bash
        run: echo "branch=$(echo ${GITHUB_REF#refs/heads/})" >>$GITHUB_OUTPUT

      - uses: actions/checkout@v3
        with:
          repository: google/go-licenses
          ref: ${{ steps.extract_branch.outputs.branch }}

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ghcr.io/go-licenses:${{ steps.extract_branch.outputs.branch }}
